body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.5;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  padding: 10px 0;
}

.row {
  border-bottom: 1px solid #000;
  position: relative;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.past textarea {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
  color: white;
}

.present textarea {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
  color: white;
}

.future textarea {
  background-color: #77dd77;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  background-color: #04a0c0;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 3px #06aed5;
}

.col-md-10 {
  padding: 0;
}
